@media (prefers-color-scheme: light) {
	:root {
		--svgfill: black;
	}

	body {
		background-image: url(https://i.imgur.com/ghbucRf.jpg);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--svgfill: white;
		--bgticket: #ffffff3d;
	}

	body {
		background-image: url(https://telegra.ph/file/fe9c94e45c351e1368a9d.png);
	}
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.fondflou {
	backdrop-filter: blur(20px);
	height: 100vh;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 50px;
	align-items: center;
}

nav img {
	width: 20px;
	height: 20px;
}

nav input {
	width: 370px;
	background-color: var(--searchbg);
	border: 0;
	border-radius: 100px;
	height: 30px;
	padding: 0px 15px;
	margin-bottom: 5px;
}

section#mainhome {
	display: flex;
	flex-direction: row;
	width: 95%;
	/*height: 90vh;*/
	flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

section#innerhome {
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 94vh;*/
}

.hometrain {
    width: 20%;
    min-width: 80px !important;
    border-radius: 20px;
}

#mainhome>section {
	width: 65%;
	padding: 0 40px;
	background-color: var(--card);	/*#00000082;*/
	margin-left: 20px;
    height: 90vh;
	border-radius: 20px;
}
#mainhome>div {
    background-image: url(https://telegra.ph/file/c824f4f0beb9b5b7ae958.png);
    width: 26%;
    border-radius: 20px;
}


.navcart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navcart span{
	margin-bottom: -5px;
}