*{
    user-select: none;
}

html{
    background-image: url(https://telegra.ph/file/217346638229d56d6460f.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    height: 100vh;
    backdrop-filter: blur(20px);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*pour page inscription1*/
body>section{
    border-radius: 15px;
    background-color: var(--card);
    color: var(--default-color);
    width: 90%;
    max-width: 320px;
    height: 100vh;
    max-height: 460px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*pour page inscription2*/
.sect_ins2{
    border-radius: 15px;
    background-color: var(--card);
    color: var(--default-color);
    width: 90%;
    max-width: 320px;
    height: 100vh;
    max-height: 460px;
    padding: 30px;
}

/*Bouton Connexion/validation/Retour/Suivant*/
.boutons{
    display: flex;
    flex-direction: column;
}

/*Intitulé Connexion*/
h1{
    font-size:50px;
    margin: 0;
}

h2{
    font-size: 25px;
    margin: 0;
}

/*Formulaire*/
.title{
    width:100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

article{
    width:100%;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.form_inscript{
    width: 75%;
}

.inscript{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
}

#submit,#bouton{
    border-radius: 20px;
    
    height: 40px;
}

.boutons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/*Style Formulaire*/
input{
    background-color: var(--box);
    border: 0;
    color: var(--default-color);
    padding: 7px 28px;
    width: 120px;
    border-radius: 10px;
}
section.form_connexion {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 100%;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: var(--text-tertiary);
}
.form_connexion article * {
    width: 250px;
    height: 25px;
}

p{
    text-align: left;
}

label{
    text-align: left;
}

.forgotten-password{
    margin-bottom: -20px;
}



.error p {
    margin: 0;
    color: whitesmoke;
}

.error {
    position: absolute;
    top: 50px;
    background-color: darkred;
    padding: 15px 35px;
    border-radius: 6px;
}