:root {
    --card-radius: 40px;
    --fds-font-family-fallback: "Segoe UI", system-ui, sans-serif;
    --fds-font-family-text: "Segoe UI Variable Text", "Seoge UI Variable Static Text", var(--fds-font-family-fallback);
    --fds-font-family-small: "Segoe UI Variable Small", "Seoge UI Variable Static Small", var(--fds-font-family-fallback);
    --fds-font-family-display: "Segoe UI Variable Display", "Seoge UI Variable Static Display", var(--fds-font-family-fallback);
}

@media (prefers-color-scheme: light) {
	:root {
		/* Texts */
		--titlecolor: black;
		--default-color: #000000de;
		--text-secondary: #000000c8;
		--text-tertiary: #0000005c;
		
		/* Colors */
		--bg-color: white;
		--card:rgba(255, 255, 255, 0.849);
		--box:rgba(189, 189, 189, 0.849);
		
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		/* Texts */
		
		--titlecolor: white;
		--default-color: #ffffffde;
		--text-secondary: #ffffffc8;
		--text-tertiary: #d4d4d47c;

		/* Colors */
		--bg-color:#212121;
		--card:rgba(0, 0, 0, 0.849);
		--box:rgba(59, 59, 59, 0.849);
		--accentcolor: rgba(0, 174, 255, 0.664);
	}
}
*{
    font-family: "Segoe UI", system-ui, sans-serif;
}
html{
    background-color: var(--bg-color);
}
body {
    scroll-behavior: smooth;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", system-ui, sans-serif;
	font-weight: 400;
	color: var(--titlecolor)
}
p, span{
	color: var(--default-color);
}

/* Forms */
input{
	color: whitesmoke;
}
.hidden{
	display: none;
}



/*ScrollBar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #444;
}
::-webkit-scrollbar-track {
    background: #252525;
}