body{
    background-color: var(--bg-color);
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
/*navbar*/

nav{
    display: flex;
    width: 80%;
    height: 80px;
}

.main_nav{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: var(--default-color);
    border: 1px solid black;
    padding: 16px;
    margin: 12px;
    display: flex;
    align-items: center; 
    border-radius: 5px;
}
