@media only screen and (max-width: 1178px){
    
    /* Ex pour le catalogue. Il reste plus qu'a le faire pour les autres :)*/
    .catalogue>section{
        width: 100%;
    }

    header section{
        width: 99%;
    }

    nav>section{
        width: 100%;
    }

    .bandeaureseau{
        height: 250px;
    }

    footer>section{
        width: 100%;
    }

    footer button{
        max-width: 100%;
        margin-left: 0;
    }

    .filtres{
        width: 125%;
    }

    .products{
        padding: 0;
    }

    .products table{
        max-width: 280px;
        margin: 12px;
    }
    
}

@media only screen and (max-width: 827px){

}

@media only screen and (max-width: 580px){

    header{
        height: 150px;
        justify-content: space-evenly;
    }

    header button{
        display: flex;
        margin: 0;
    }

    .mainlogo{
        max-width: 115px;
    }

    header form{
        display: none;
    }

    .telephone_maison{
        display: block;
        width: 98%;
    }

    nav{
        display: none;
    }
    section .bandeaureseau{
        display: none;
    }

    .innercat{
        flex-direction: column;
    }    
    aside {
        max-height: 185px;
        overflow: hidden;
    }

    .innercat section{
        flex-basis: 95%;
    }
}